* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    display: block;
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

#jokes_container{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-top: 25px;
}


ul {
    list-style: none;
    margin: 10px;
}

#joke_form input[type='text']{
    width: 100%;
}
#comment_body{
    width: 50%;
}

input[type='submit'] {
    border: none;
    background-color: blueviolet;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 20%;
    margin: 10px;
    border-radius: 10px;
}

input[type='submit']:hover {
    background-color: violet;
    cursor: pointer;
    color: black;
}

input[type="text"] {
    padding: 5px;
    border: 2px solid blueviolet;
}

.joke {
    text-align: left;
    margin: 5px;
    padding: 10px;
    background-color: #c3c3c355;
    border: 1px solid gray;
}
.comment {
    text-align: left;
    margin: 5px;
    padding: 10px;
    background-color: palevioletred;
    border: 1px solid royalblue;
}